

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(to left top, #89a125, #b16b15);
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  background-color: rgb(93, 183, 235);
  font-size: 2.4rem;
  font-weight: 600;
  padding: 4rem;
  border-radius: 0.5rem;
  width: 1000px;
  min-height: 600px;
  max-width: 90%;
  box-shadow: 1px, 5px, 6px rgb(80, 80, 80);
}

.container .type-Input {
  margin-top: 8rem; 
  font-size: 3rem;
}

.timer {
  position: absolute;
  left: 4rem;
  font-size: 5rem;
  font-weight: bold;
  color: red;
}

.type-display {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.type-Input {
  background: transparent;
  border: 2px solid rgb(158, 52, 52);
  outline: none;
  width: 100%;
  height: 14rem;
  margin: auto;
  resize: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.type-Input:focus {
  border-color: black;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

